.top_container {
    background: black;
    margin: auto;
    width: 100%;
    max-width: 724px;
}

.graphs {
    margin: auto;
    justify-content: center;
    text-align: center;
    color: white;
}

.isLoading {
    text-align: center;
}