* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url("./../images/background.gif");
}

.header {
    background: #555555;
    text-align: center;
    padding: 2px;
    color: white;
    font-size: 14px;
    font-weight: bold;

    a {
      color: White;
      text-decoration: none;
          
      &:hover {
        color: Lime;
        text-decoration: none;
      }
    }

    button {
          margin: 0 10px;
          padding: 0 10px;
    }
}