.header {
    justify-content: space-between;
    color: black;
    margin-bottom: 5px;
  }
  
  .header nav {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .header a {
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
  }

  .header a:visited {
    color: black;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    background-color: gray;
    color: white;
  }


  @media screen and (max-width: 500px) {
    .header nav {
        flex-wrap: wrap;
    }
  }