.davisMonth{
    width: 80%;
    margin: auto;

    .myPre{
        display: block;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        text-align: left;
    }
}

.button{
    & > button {
        margin: 0 10px;
        padding: 0 10px;
    }
}