/* formular.php */
::-webkit-input-placeholder { /* Edge */
	color: white;
}
:-ms-input-placeholder { /* Internet Explorer */
	color: white;
}
::placeholder {
	color: white;
}

.form_booking{
    width: 90%;
	max-width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*background: url("./../images/604b.jpg");*/
    background-color:rgba(0, 0, 0, 0.6);
    padding: 0px;
    color: white;
	text-align: left;

	border-radius: 5px;
	border: 1px solid #555;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 0rem;
	margin-bottom: 0rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: absolute;
	z-index: 3
}

.form_result_alert{
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50px;
	color: black;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	display: none;
	text-decoration: none;
}

.form_result_alert ul {
	list-style: none;
}

.form_booking input,
.form_booking select,
.form_booking textarea {
    font-size: 1.0rem;;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: 2px 5px;
	transition: none;
	color: white;
	letter-spacing: 0.1rem;
}

.form_booking input[type=text]:focus,
.form_booking input[type=email]:focus,
.form_booking input[type=tel]:focus,
.form_booking input[type=date]:focus,
.form_booking input[type=hi]:focus,
.form_booking textarea:focus,
.form_booking select:focus {
	border: none;
	outline: none;
  }

  
.input_booking{
	background-color:rgba(0, 0, 0, 0.4);
	width: 100%;
	border-radius: 5px;
	border: 1px solid white;
	padding: 2px;
	margin: 5px;
}

.input_booking:hover{
	border: 1px solid black;
}

.input_booking label{
	font-size: 0.7rem;
	color: white;
	font-weight: bold;
	text-align: left;
	margin: 2px 5px;
}

.input_booking option{
	background-color:rgba(0, 0, 0, 0.5);
}


/* Original Solution found on Stackoverflow here:
http://stackoverflow.com/questions/26573346/ios-safari-messes-up-input-type-date
*/

.input_booking input[type="date"]
{
    display:block;
  
    /* Solution 1 */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em; 
  
    /* Solution 2 */
	/* min-width: 96%; */
}

.submit_booking{
	border-radius: 5px;
	border: 1px solid white;
	padding: 0;
	margin: 5px;
	text-align: left;
	width: 25%;
}

.green{
	background-color:rgba(0, 256, 0, 0.4);
}

.blue{
	background-color:rgba(0, 0, 256, 0.4);
}

.red{
	background-color:rgba(256, 0, 0, 0.4);
}

.green input:focus{
	background-color:rgba(0, 256, 0, 0.5);
}

.blue input:focus{
	background-color:rgba(0, 0, 256, 0.5);
}

.red input:focus{
	background-color:rgba(256, 0, 0, 0.5);
}


.submit_booking:hover{
	border: 1px solid black;
}

.submit_booking input{
	width: 100%;
	margin: 0;
	padding: 20px;
	border: none;
	font-size: 1rem;
	border-radius: 5px;
}

.isLoading{
	background-color: lime;
	color: black;
}