/*<table class="booking_table">*/
.booking_table{
	width: 100%;
	border-radius: 5px;
	border-collapse: collapse;
	padding: 0px;
	margin: auto;
	/* all <td> same width */
	table-layout:fixed;
	background-color:rgba(85, 85, 85, 0.5);
	border: 1px solid black;
}

.booking_table td{
	background-color:rgba(85, 85, 85, 0.1);
	color: black;
	border: 1px solid black;
}

.booking_table td:nth-child(1) {
	background-color:rgba(85, 85, 85, 0.7);
}

.booking_table th{
	font-size: 13px;
	background-color:rgba(85, 85, 85, 0.9);
	border: 1px solid black;
}

.booking_table tr{
	font-size: 11px;
}
.booking_table tr:hover{
	background-color:rgba(85, 85, 85, 0.7);
	/*font-weight: bold;*/
}