.kniha_formular input[type='text'],
.kniha_formular textarea[type='text'],
.kniha_formular select,
.kniha_formular input[type='submit'] {
  padding: 2px 5px;
  margin: 2px 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.kniha_formular input[type='text']:focus,
.kniha_formular textarea[type='text']:focus,
.kniha_formular select:focus,
.kniha_formular input[type='submit']:focus {
  border: 3px solid #555;
}

.pagina,
.paginaPrev,
.paginaNext {
  background-color: white;
  font-size: 12px;

  width: 30px;
  height: 30px;

  cursor: pointer;
}

.left {
  text-align: left;
}

.App-link {
  color: #09d3ac;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  max-width: 710px;
  font-size: 0.8rem;
  color: #fff;
  grid-gap: 0.1rem;
  margin-top: 1rem;
  text-align: center;
  margin: auto;
}

.btn-group .button {
  background-color: #4caf50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.kniha_main {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background: #fe9a2c;
  border: 1px solid #ebebeb;
  font-size: 14px;
}

.center {
  text-align: center;
  margin: 0 auto;
  background: #ff9933;
  color: black;
}
