html {
  scrollbar-gutter: stable;
}

body {
  background-color: black;
  line-height: 1.6;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #555555;
  text-align: center;
  padding: 2px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  clear: both;
}
