.slide-show-days {
  position: absolute;
  bottom: 22px;
  left: 30px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;

  &:hover {
    color: white;
  }
}

.slide-show-minutes {
  position: absolute;
  bottom: -15px;
  left: 30px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;

  &:hover {
    color: white;
  }
}

.slide-reset {
  position: absolute;
  bottom: 50px;
  right: 0px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: white;
  }
}
